.card_selected {
    box-shadow: 0 1px 8px rgb(96, 98, 99);
}
.icon {
    float:right;
}
.inputTextBox {
    width: 90%;
    border: 1px dotted rgb(166, 170, 172);
    border-radius: 0;
}
td.tableHeader > div {
    height: 0px;
    font-size: 20px;
}
td.tableHeader {
    height: 50px;
}
