.header{
  text-align: center;
  color: rgb(166, 170, 172);
  font-family: serif;
  font-size: 4rem;
}
.card {
  padding: 1rem;
  background-color: rgb(227, 231, 233);
  margin: 2rem;
  width: 50rem;
  max-width: 25%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgb(166, 170, 172);
}
