.header{
  text-align: center;
  color: rgb(166, 170, 172);
  font-family: serif;
  font-size: 4rem;
}
.cardItm {
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgb(166, 170, 172);
}

.btnLink {
  border: none;
}

.icon {
  float:right;
  font-size: 20px;
}

a {
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

.tab {
  margin: 20px;
  font-family: serif;
  font-size: 1rem;
}
